<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hieno otsake</h1>
    <br>
    <h2 th:text="${teksti[1].getPaivamaara()}">testi</h2>
    <table>
        <tr>
            <th></th>
            <th>Maanatai</th>
            <th>Tiistai</th>
            <th>Keskiviikko</th>
            <th>Torstai</th>
            <th>Perjantai</th>
            <th>Lauantai</th>
            <th>Sunnuntai</th>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[0].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[1].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[2].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[3].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[4].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[5].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[6].getPaivamaara()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[7].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[8].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[9].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[10].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[11].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[12].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[13].getPaivamaara()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[14].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[15].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[16].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[17].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[18].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[19].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[20].getPaivamaara()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[21].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[22].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[23].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[24].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[25].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[26].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[27].getPaivamaara()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[28].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[29].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[30].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[31].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[32].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[33].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[34].getPaivamaara()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[35].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[36].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[37].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[38].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[39].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[40].getPaivamaara()}">jotain</td>
            <td th:text="${teksti[41].getPaivamaara()}">jotain</td>
        </tr>
    </table>
</body>
</html>