<!DOCTYPE html>
<html lang="fi" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Hieno otsake</h1>
    <br>
    <h2 th:text="${teksti[1].getDate()}">testi</h2>
    <table>
        <tr>
            <th></th>
            <th>Maanatai</th>
            <th>Tiistai</th>
            <th>Keskiviikko</th>
            <th>Torstai</th>
            <th>Perjantai</th>
            <th>Lauantai</th>
            <th>Sunnuntai</th>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[1].getDate()}">jotain</td>
            <td th:text="${teksti[2].getDate()}">jotain</td>
            <td th:text="${teksti[3].getDate()}">jotain</td>
            <td th:text="${teksti[4].getDate()}">jotain</td>
            <td th:text="${teksti[5].getDate()}">jotain</td>
            <td th:text="${teksti[6].getDate()}">jotain</td>
            <td th:text="${teksti[7].getDate()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[8].getDate()}">jotain</td>
            <td th:text="${teksti[9].getDate()}">jotain</td>
            <td th:text="${teksti[10].getDate()}">jotain</td>
            <td th:text="${teksti[11].getDate()}">jotain</td>
            <td th:text="${teksti[12].getDate()}">jotain</td>
            <td th:text="${teksti[13].getDate()}">jotain</td>
            <td th:text="${teksti[14].getDate()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[15].getDate()}">jotain</td>
            <td th:text="${teksti[16].getDate()}">jotain</td>
            <td th:text="${teksti[17].getDate()}">jotain</td>
            <td th:text="${teksti[18].getDate()}">jotain</td>
            <td th:text="${teksti[19].getDate()}">jotain</td>
            <td th:text="${teksti[20].getDate()}">jotain</td>
            <td th:text="${teksti[21].getDate()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[22].getDate()}">jotain</td>
            <td th:text="${teksti[23].getDate()}">jotain</td>
            <td th:text="${teksti[24].getDate()}">jotain</td>
            <td th:text="${teksti[25].getDate()}">jotain</td>
            <td th:text="${teksti[26].getDate()}">jotain</td>
            <td th:text="${teksti[27].getDate()}">jotain</td>
            <td th:text="${teksti[28].getDate()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[29].getDate()}">jotain</td>
            <td th:text="${teksti[30].getDate()}">jotain</td>
            <td th:text="${teksti[31].getDate()}">jotain</td>
            <td th:text="${teksti[32].getDate()}">jotain</td>
            <td th:text="${teksti[33].getDate()}">jotain</td>
            <td th:text="${teksti[34].getDate()}">jotain</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
        </tr>
        <tr>
            <td>Viikko</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
            <td th:text="${teksti[35].getDate()}">jotain</td>
        </tr>
    </table>
</body>
</html>